<!--喵喵主线-->
<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">喵喵主线小说</span>
            <p>在一间别墅，有一场主仆之间的爱情</p>
        </div>
        <div class="card-action">
            <a href="#" onclick="modal(\'noval/0/index\')">查看章节</a>
        </div>
    </div>
</div>

<div class="collection">
    <a href="#!" class="collection-item" onclick="modal('noval/0/0')">第1章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/0/1')">第2章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/0/2')">第3章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/0/3')">第4章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/0/4')">第5章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/0/5')">第6章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/0/6')">第7章</a>
</div>

<!--抖喵工厂-->
<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">抖喵工厂</span>
            <p>山的那边海的那边有一个抖喵</p>
            <p>然而事实上并没有钱</p>
        </div>
        <div class="card-action">
            <a href="#" onclick="modal(\'noval/1/index\')">查看章节</a>
        </div>
    </div>
</div>

<div class="collection">
    <a href="#!" class="collection-item" onclick="modal('noval/1/0')">第1章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/1/1')">第2章</a>
    <a href="#!" class="collection-item" onclick="modal('noval/1/2')">第3章</a>
</div>

<!--迫害抖喵-->
<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">各种短篇小说</span>
            <p>可爱的抖喵，现在可以公开调教哦</p>
            <p>还有其他小短篇也会丢到这里</p>
            <p>欢迎投稿系列</p>
        </div>
        <div class="card-action">
            <a href="#" onclick="modal(\'noval/2/index\')">查看章节</a>
        </div>
    </div>
</div>


<div class="collection">
    <a href="#!" class="collection-item" onclick="modal('noval/2/0')">抖喵的战争</a>
    <a href="#!" class="collection-item" onclick="modal('noval/2/1')">抖喵绒布球役(未完成)</a>
    <a href="#!" class="collection-item" onclick="modal('noval/2/3')">琳的WTCD（分支小说）</a>
    <a href="#!" class="collection-item" onclick="modal('noval/2/2')">鸽子的咕咕咕地狱</a>
</div>